<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
  	<h1>Favorite Food</h1>
    <form action="/food" method="POST">
      <p>Your Name: <input type="text" name="name"> </p>
      
      <p>Your Favorite Food: <input type="text" name="favorite_food" value=""> </p>
      <input type="submit" name="submit">
   </form>
  </body>
</html>